@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Theme */
$primary-color: #2b2b2b;
$background-color: #1c1f22;
$input-color: #101214;
$link-color: #eeeeee;
$title-color: rgb(236, 236, 236);
$info-color: #dbdbdb;
$input-color: #171d24;

* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

body{
  background-color: $background-color;
}

.container{
  width: 80%;
  margin: auto;
}
