@import "./App.scss";

.benefits {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;

  .benefits-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    .benefits-title {
      color: $title-color;
      font-size: clamp(30px, 8vw, 50px);
      font-weight: 300;
    }

    .benefits-lits {
      .benefits-lits-item {
        margin-top: 20px;
        list-style: none;
        color: $info-color;
        text-align: center;
        font-size: clamp(10px, 7vw, 21px);
      }

      .benefits-lits-line {
        width: 80%;
        margin: auto;
        border-color: rgba($color: #ffffff, $alpha: 0.1);
        margin-top: 15px;
        margin-bottom: 20px;
      }
    }
  }

  .comment-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    .comment-title {
      color: $title-color;
      font-size: clamp(35px, 8vw, 40px);
      text-align: center;
      font-weight: 400;
    }
    .comment-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px 0px 20px;
      margin-top: 20px;
      width: 100%;
      background-color: $primary-color;
      max-width: 300px;
      border-radius: 10px;

      .comment-card-profile {
        border-radius: 100%;
        width: 60%;
        background-color: $background-color;
        box-shadow: 2px 5px 3px rgba($color: #00000000, $alpha: 0.3);
      }

      .comment-card-author {
        margin-top: 10px;
        margin-left: -10px;
        font-size: 1.5em;
        font-weight: 500;
        color: $title-color;
      }

      .comment-card-p {
        width: 90%;
        margin-top: 10px;
        text-align: center;
        color: $info-color;
      }
    }
  }
}

@media (min-width: 780px) {
  .benefits {
    margin-top: 50px;
    justify-content: space-around;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 110px;

    .benefits-section {
      align-items: flex-start;

      .benefits-lits {
        align-items: flex-start;
        display: flex;
        flex-direction: column;

        .benefits-lits-line {
          margin: 0px;
          width: 100%;
          margin-bottom: 10px;
          margin-top: 10px;
        }
      }
    }

    .comment-section {
      width: 30%;

      .comment-card {
        width: 80%;
      }
    }
  }
}
